body {
    background-color: rgba(255, 0, 0, 0.05);
    font-family: sans-serif;

}


header div img {
    height: 60px;
    width: 150px;
    padding: 20px;
}

header div a {
    padding: 10px;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 25px;
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    background-image: linear-gradient(black 0 0);
    background-size: 100% .08em;
    /* .08em is our fixed height; modify as needed. */
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
}

a:hover {
    transition: background-size .3s .3s, background-position .3s;
    background-size: 100% 100%;
    background-position:100% 100%;
}

.parent div {
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
}

.div2 {
    width: 95%;
    margin: auto;
}

.parent div p {
    width: 450px;
    text-align: left;
    font-size: 30px;
    padding-top: 25%;
    font-weight: bolder;
}

.parent h1 {
    font-size: 120px;
    text-align: right;
    width: 500px;
    padding-top: 30px;
}

.video {
    height: 100vh;
    width: 100%;
    margin-top: 20px;
}
video{
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
width: 90%;

}
marquee {
    margin-top: 50px;
    padding: 20px;
}

marquee img {
    width: 70px;
    height: 70px;
    
}

 div span {
    font-size: 100px;
    font-weight: bold;
    padding: 20px;

}
/*a {
    position: relative;
    z-index: 1;
}
a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: blue;
    z-index: -1;
    transition: transform 0.3s;
}
a:hover::after {
    transform: scaleY(1);
}*/
